<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net48" />
  <package id="Sharpnado.Shadows" version="1.2.0" targetFramework="net48" />
  <package id="Sharpnado.Tabs" version="2.2.0" targetFramework="net48" />
  <package id="Sharpnado.TaskMonitor" version="1.0.2" targetFramework="net48" />
  <package id="ThomasLevesque.WeakEvent" version="4.1.0" targetFramework="net48" />
  <package id="Xamarin.Forms" version="5.0.0.1874" targetFramework="net48" />
</packages>